{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
        },
    },
    "rules": {
        "react/prop-types": "off",
    },
    "globals": {
        "Map": true,
    }
}
