<!DOCTYPE html>
<html>
  <head>
    <title>Knittar Hero</title>
    <meta name="description" content="Tricotez-vous une e-charpe !">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@elao">
    <meta name="twitter:creator" content="@elao">
    <meta name="twitter:title" content="Knittar Hero">
    <meta name="twitter:description" content="Tricotez-vous une e-charpe !">
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.url %>/app/cover.png">
    <meta property="og:title" content="Knittar Hero">
    <meta property="og:description" content="Tricotez-vous une e-charpe !">
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.url %>/app/cover.png">
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>">
    <meta property="og:type" content="website">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Knittar Hero">
    <meta name="apple-mobile-web-app-title" content="Knittar Hero">
    <meta name="apple-mobile-web-app-status-bar-style" content="light-translucent">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.url %>/app/apple-icon.png">
    <link rel="apple-touch-startup-image" href="<%= htmlWebpackPlugin.options.url %>/app/cover.png">
    <link rel="apple-touch-icon" sizes="57x57" href="<%= htmlWebpackPlugin.options.url %>/app/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= htmlWebpackPlugin.options.url %>/app/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= htmlWebpackPlugin.options.url %>/app/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= htmlWebpackPlugin.options.url %>/app/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= htmlWebpackPlugin.options.url %>/app/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= htmlWebpackPlugin.options.url %>/app/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= htmlWebpackPlugin.options.url %>/app/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= htmlWebpackPlugin.options.url %>/app/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.url %>/app/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= htmlWebpackPlugin.options.url %>/app/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.url %>/app/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= htmlWebpackPlugin.options.url %>/app/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.url %>/app/favicon-16x16.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.url %>/manifest.json">
    <meta name="msapplication-TileColor" content="#d0ecef">
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.options.url %>/app/ms-icon-144x144.png">
    <meta name="theme-color" content="#d0ecef">
    <% if (htmlWebpackPlugin.options.matomoHost) { %>
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push([function visitorCookieTimeoutMiddleware() {
        this.setVisitorCookieTimeout(parseInt(this.getVisitorInfo()[2], 10) + 33696000 - Math.round(Date.now() / 1000));
      }]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//<%= htmlWebpackPlugin.options.matomoHost %>/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '<%= htmlWebpackPlugin.options.matomoId %>']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <% } %>
  </head>
  <body>
    <header>
      <a href="https://www.elao.com/fr/" target="_blank">
        <img src="assets/images/elao.svg" alt="élao">
      </a>
    </header>
    <main id="root"></main>
  </body>
</html>
