@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot');
  src:  url('../icons/icomoon.eot') format('embedded-opentype'),
    url('../icons/icomoon.ttf') format('truetype'),
    url('../icons/icomoon.woff') format('woff'),
    url('../icons/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.up:before { content: "\e903"; }
  &.right:before { content: "\e902"; }
  &.down:before { content: "\e900"; }
  &.left:before { content: "\e901"; }
  &.wool:before { content: "\e904"; }
  &.audio-off:before { content: "\e905"; }
  &.audio-on:before { content: "\e906"; }
}
