html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background-color: $background;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.end {
    justify-content: flex-start;
    height: unset;

    .knit { height: unset; }

    .upper-stitch { display: none; }

    .needle {
      animation: none;
      display: none;
    }
  }
}

header {
  a { display: flex; }

  img {
    width: 130px;
    height: 130px;
  }
}

#root {
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: $screen-lg-max) {
  header {
    img {
      width: 80px;
      height: 80px;
    }
  }

  .container { width: 100%; }
}
