html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  perspective: 1000px;
}

body {
  background: url(../assets/images/landscape.svg);
  background-repeat: repeat-x;
  background-position: center top;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.end {
    justify-content: flex-start;
    height: unset;

    .knit { height: unset; }

    .upper-stitch { display: none; }

    .needle {
      animation: none;
      display: none;
    }
  }
}

header {
  position: absolute;
  top: 0;
  z-index: 1;

  a {
    display: flex;
    position: absolute;
    z-index: 200;
  }

  img {
    width: 130px;
    height: 130px;
  }
}

h1 {
  font-family: 'Courgette', cursive;
  text-align: center;
  color: #fff;
  text-shadow: $text-shadow;
  font-size: 55px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-weight: 400;
}

#root {
  overflow: hidden;

  .main-container {
    display: flex;
    flex-direction: column;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.knit-container { position: relative; }

@media (max-width: $screen-lg-max) {
  header {
    img {
      width: 80px;
      height: 80px;
    }
  }

  .container { width: 100%; }

  h1 { top: 100px; }
}

@media (max-width: $screen-md-max) {
  body {
    background: url(../assets/images/landscape--mobile.svg);
    background-position: center top;
    background-repeat: repeat-x;
  }

  h1 { font-size: 50px; }
}

@media (max-width: $screen-md-max) and (orientation: landscape) {
  h1 { top: 25px; }
}
