$primary: #f53e3a;
$primary--dark: #c2292f;
$secondary: #fff;
$background: #d0ecef;
$text: #8ab9c4;
$text--dark: #68a5b3;

$success: #91c6ad;
$error: #f53e3a;

$screen-xs-max: 376px;
$screen-sm-max: 560px;
$screen-md-max: 769px;
$screen-lg-max: 1200px;

$arrow-height: 20vh;
$zone: 0.5;

@function shadow($opacity: .2, $spead: 10px) {
  @return 0 0 $spead rgba(104, 165, 179, $opacity);
}
