.button {
  background-color: $primary;
  color: #fff;
  text-decoration: none;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: 400;
  font-size: 19px;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  border: solid 2px $primary;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: $primary;
    transition: ease-in-out .1s;
  }

  span { margin-right: 10px; }
}

.button--light {
  background-color: transparent;
  color: $primary;
  border: solid 2px $primary;

  &:hover,
  &:active,
  &:focus {
    background-color: $primary;
    color: #fff;
    transition: ease-in-out .1s;
  }
}

.button--social {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
  border-radius: 0;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -.01em;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: #000;
  }

  .icon {
    font-size: 30px;
    margin-bottom: 7px;
    margin-right: 0;

    &.facebook--full { color: #3b5999; }
    &.twitter { color: #1da1f3; }
    &.linkedin--full { color: #0077b4; }
  }
}
