.arrow-tunnel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  position: relative;
  overflow-y: hidden;
  width: 720px;
  margin: 0 auto;
}

.arrow-tunnel__slider {
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  transition: transform 0s linear;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;

  .arrow {
    flex: 0;
    color: $primary;
    padding: 0;
    margin: 0;

    &:before {
      width: 100%;
      height: $zone * $arrow-height;
      line-height: $zone * $arrow-height;
      font-size: $zone * $arrow-height;
      margin-top: (1 - $zone) * $arrow-height;
      display: block;
      text-align: center;
      vertical-align: bottom;
      box-sizing: border-box;
    }

    &.success:before { color: $success; }
    &.error:before { color: #bbb; }

    &.down:before { text-align: center; }
    &.left:before { text-align: left; }
    &.right:before { text-align: right; }
  }
}

.arrow-tunnel__highlight {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: ($zone / 2) * $arrow-height;
  height: $zone * $arrow-height;
  align-items: center;

  .arrow {
    color: #ddd;
    font-size: $zone * $arrow-height;
    flex: 1;

    &.down { text-align: center; }
    &.left { text-align: left; }
    &.right { text-align: right; }
  }
}

@media (max-width: $screen-sm-max) {
  /*.arrow-tunnel {
    margin-bottom: 50px;
  }

  .arrow-tunnel__highlight {
    top: -23px;
    right: 20%;
    height: 80px;
    width: 80px;
  }*/
}
