.arrow-tunnel {
  position: relative;
  height: 40px;
  margin-bottom: 120px;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
  background-color: #fff;
}

.arrow-tunnel__highlight {
  position: absolute;
  top: -40px;
  right: 50%;
  height: 120px;
  width: $arrow-width;
  margin-right: -($arrow-width / 2);
  background-color: $background;
  border: 3px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
}

.arrow-tunnel__slider {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  z-index: 10;
  right: calc(50% - #{4 * $arrow-width});
  padding: 0;
  margin: 0;
  transition: margin 0s linear;

  .arrow {
    flex: 0;
    color: gray;
    font-size: 2em;
    padding: 0;
    margin: 0;

    span {
      width: $arrow-width;
      height: 40px;
      margin-right: 3 * $arrow-width;
      display: block;
      text-align: center;
      box-sizing: border-box;
    }

    &.current {
      color: red;
    }

    &.active {
      color: black;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .arrow-tunnel {
    margin-bottom: 50px;
  }

  .arrow-tunnel__highlight {
    top: -23px;
    right: 20%;
    height: 80px;
    width: 80px;
  }
}
