.end-panel {
  width: 900px;
  z-index: 9;
  margin: 50px auto;
  font-size: 27px;
  font-weight: 400;
  animation: slide 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  p {
    margin-top: 0;
    margin-bottom: 1px;
    text-align: center;

    &:first-of-type { font-weight: 500; letter-spacing: .05em; }

    &:last-of-type { font-size: 20px; text-transform: none; }
  }
}

.end-panel__card {
  background: rgba(255, 255, 255, .5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
  padding: 60px 30px;
  border: solid 2px rgba(255, 255, 255, .5);
}

.end-panel__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0 50px;

  .icon {
    font-size: 90px;
    color: #fff;
    text-shadow: $text-shadow;
    margin-right: 20px;
  }

  h3 {
    text-align: center;
    font-size: 60px;
    margin: 0;
    color: #fff;
    font-family: 'Courgette', cursive;
    text-shadow: $text-shadow;
  }
}

.end-panel__statistics {
  display: flex;
  margin-bottom: 45px;

  dl {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    padding: 3px;

    &:nth-of-type(1) { border-right: solid 1px; }
  }

  dd {
    margin: 0;
    margin-right: 15px;
    font-size: 19px;
  }

  dt {
    font-size: 26px;
    font-weight: 500;
  }
}

.end-panel__buttons {
  display: flex;
  margin-top: 45px;
  justify-content: center;

  a,
  button {
    flex-grow: 1;
    margin: 0 15px;
    max-width: 350px;
  }
}

@keyframes slide {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
