.knit {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 40vh;
  overflow: hidden;

  .end & { overflow: auto; }
}

.knit__scarf {
  position: relative;
  width: 720px;
  font-size: 0;

  svg {
    width: 720px;
    background: #681615;
    margin: 0;
    transition: height 200ms ease-in-out;
  }

  img {
    margin: 0;
  }

  .knit-tip {
    width: 720px;
    height: auto;

    &.reverse {
      transform: scale(-1, -1);
    }
  }
}

@media (max-width: $screen-md-max) {
  .knit__scarf { width: 98%; }
}
