.knit {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  height: 40vh;
}

.knit__scarf {
  position: relative;
  width: 750px;
}

@media (max-width: $screen-md-max) {
  .knit__scarf { width: 98%; }
}
