.audio {
  position: fixed;
  top: 1em;
  right: 1em;
  background: none;
  border: 0;
  color: $text--dark;
  font-size: 25px;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  text-shadow: $text-shadow;
  z-index: 100;
}
