.options {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;

  button {
    background: none;
    border: 0;
    color: $text--dark;
    font-size: 25px;
    line-height: normal;
    overflow: visible;
    padding: 1em;
    cursor: pointer;
    text-shadow: $text-shadow;
  }
}
