.options {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  z-index: 101;

  button {
    background: none;
    border: 0;
    color: $text--dark;
    font-size: 1.5em;
    line-height: 1em;
    overflow: visible;
    cursor: pointer;
    text-shadow: $text-shadow;
    outline: none;
    margin: .5em;
  }

  &.hidden {
    top: -100%;
    transition: ease-in .2s;
  }
}

@media (max-width: $screen-sm-max) {
  .options {
    top: 10px;

    button {
      font-size: 20px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
