.rules {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $text;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: .07em;
  text-align: center;
  position: fixed;
  bottom: 0;
}

@media (max-width: $screen-sm-max) {
  .rules {
    height: 70px;
    font-size: 16px;
    flex-direction: column;
    bottom: 30px;
    line-height: 0.8em;

    > span:first-of-type { margin-bottom: 5px; }

    .icon { margin: 0 2px; }
  }
}
