.share-button {
  font-size: 18px !important;
  line-height: 1em;
  font-weight: 500;
  text-decoration: none;
  border: none;
  text-align: center;
  background: none;
  padding: 6px 8px;
  margin: 8px 0 0;
  border-radius: 4px;

  .icon {
    margin-right: 0.4em;
  }

  .clipboard {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: $text--dark;
  }

  .clipboard--show > span {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s linear;
  }

  .clipboard--hide > span {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .2s, opacity .2s linear;
  }
}

.share-button--box {
  max-width: 80%;
}

.share-button__clipboard {
  // This input must be hidden for the user
  // but it be able to have focus and selection
  position: absolute;
  top: -9999px;
  left: -9999px;
  outline: none;
  border: none;
  background: none;
}

.share-button__button {
  @extend .share-button;
  cursor: pointer;
  color: $primary;
  border: 1px solid $primary;

  &:hover {
    color: $primary--dark;
    border-color: $primary--dark;
  }
}

.share-button__link {
  @extend .share-button;
  cursor: pointer;
  border: 1px solid $text;
  background: white;
  user-select: all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin: inherit !important;

  a, & {
    color: $text;
  }

  &:hover, &:hover a {
    color: $text--dark;
    border-color: $text--dark;
  }
}

@media (max-width: $screen-sm-max) {
  .share-button {
    font-size: 12px;
    padding: 4px 6px;
    margin: 6px 0 0;
  }
}
