.options .song-selector {
  display: flex;
  align-self: center;
  font-size: 18px;
  line-height: 18px;
  width: 270px;
  border: solid 2px $text--dark;
  margin: 1em 0.6em;
  padding: 5px 20px;
  border-radius: 2px;
  background-color: transparent;
  box-sizing: border-box;

  .song-selector__list {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .song-selector__button {
    align-self: flex-start;
    font-size: 20px;
    line-height: 20px;
    padding: 3px 0;
    position: relative;
    top: 0;
    //font-size: 16px !important;
    //margin: 0 !important;
    //padding: 0 0 0 15px;
    //top: 8px;
  }
}

@media (max-width: $screen-sm-max) {
  .options .song-selector {
    font-size: 12px;
    width: 170px;
    padding: 5px;
    margin: 0 10px;

    .song-selector__button {
      //font-size: 14px !important;
      font-size: 14px;
      //padding-left: 5px;
      //top: 5px;
    }
  }
}

