.statistics-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;

  .statistics {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;

    &:nth-of-type(1) { border-right: solid 1px; }

    &.statistics--score {
      font-size: 32px;
    }

    &.statistics--details {
      font-size: 18px;
    }

    dl {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      margin: 0;
      text-align: center;
      padding: 0 4px;
    }

    dd {
      margin: 0;
      margin-right: 15px;
      font-size: 1em;
    }

    dt {
      font-size: 1.4em;
      font-weight: 500;
    }

    .song {
      font-size: 16px;

      .icon {
        color: $text--dark;
      }
    }

    .share {
      font-size: 18px;
      line-height: 1em;
      font-weight: 500;
      text-decoration: none;
      border: none;
      cursor: pointer;
      text-align: center;
      background: none;
      padding: 6px 8px;
      margin: 8px 0 0;
      border-radius: 4px;
      cursor: pointer;

      &.share--button {
        color: $primary;
        border: 1px solid $primary;

        &:hover {
          color: $primary--dark;
          border-color: $primary--dark;
        }
      }

      &.share--link {
        border: 1px solid $text;
        background: white;
        user-select: all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80%;
        text-align: left;

        a, & {
          color: $text;
        }

        &:hover, &:hover a {
          color: $text--dark;
          border-color: $text--dark;
        }
      }

      .icon {
        margin-right: 0.4em;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .statistics-container {
    flex-direction: column;
    margin-bottom: 20px;

    .statistics {
      max-width: 100%;

      &:nth-of-type(1) {
        border: none;
        margin-bottom: 10px;
      }

      &.statistics--score {
        font-size: 24px;
      }

      &.statistics--details {
        font-size: 12px;
      }

      dl { padding: 0; }
      dd { margin-right: 7px; }

      .share {
        font-size: 12px;
        padding: 4px 6px;
        margin: 6px 0 0;
      }
    }
  }
}
