.upper-stitch {
    position: absolute;
    top: -20px;
}

.upper-stitch--front { z-index: 2; }

.upper-stitch--back { z-index: -2; }

@media (max-width: $screen-md-max) {
    .upper-stitch { top: -17px; }
}
